{% extends 'dashboard_base.html' %}
{% set active_page = "dashboard" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
	<div class="container px-5">
		<h4 class='pb-1'>Welcome back, {{session['current_user']['firstname']|title }} {{session['current_user']['lastname']|title }}!</h4>
		<div class="row stat-cards">
			<div class="col-md-6 col-xl-4">
			  <article class="stat-cards-item">
				<div class="stat-cards-icon bg-primary bg-opacity-75">
					<i class="bi bi-bar-chart-fill fs-2 text-white"></i>
				</div>
				<div class="stat-cards-info">
				  <p class="stat-cards-info__heading">Overview</p>
				  <p class="stat-cards-info__title">Balance: <span class="text-success">₦1,500</span></p>
				</div>
			  </article>
			</div>
		</div>
	
		<div class="row stat-cards">
			<div class="col-md-12 col-xl-8">
				<article class="stat-cards-item">
				  <div class="stat-cards-info">
					<p class="stat-cards-info__heading">This Month</p>
					<canvas id="donutChart"></canvas>
				  </div>
				</article>
			  </div>
		</div>
		
	</div>
{% endblock %}