{% extends 'dashboard_base.html' %}
{% set active_page = "budgets" %}
{% block title %}Delete Expense{% endblock %}


{% block content %}
<div class="container px-5">
    <div class="row">
        <div class="col-md-12 col-xl-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form id="delete-form" action=""  method="post" class="bg-success-subtle my-4 p-4">
            <h3 class='mb-3'></h3>
            <div class="card">
                <h5 class="card-header">Delete {{expense.category}}</h5>
                <div class="card-body">
                  <p class="card-text text-black">Do you want to delete ({{expense.category}} - {{"₦{:,.2f}".format(expense.amount)}})?</p>
                  <a href="{{url_for('expenses')}}" class="btn btn-secondary">Cancel</a>
                  <button type="submit" class="btn btn-danger">Delete</button>
                </div>
              </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}