{% extends 'index_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include "components/navbar.html" %}
    {% include "components/banner.html" %}
    {% include "components/about.html" %}
    {% include "components/features.html" %}
    {% include "components/services.html" %}
    {% include "components/overview.html" %}
    {% include "components/team.html" %}
    {% include "components/screenshots.html" %}
    {% include "components/contact.html" %}
{% endblock %}