<nav class="navbar bg-success">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="sidebar-toggle pe-3" id="sidebar-toggle">
                <i class="bi bi-list text-white fs-2"></i>
            </div>
            <span class="navbar-brand text-white">{{title}}</span>
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                ADD
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                DELETE
            </button>
        </div>
    </div>
</nav>