<section id="features">
			
    <!-- Container -->
    <div class="container">
        
        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                
                <div class="section-title text-center">
                    <h3>Our Features</h3>
                    <p>Features that Make a Difference</p>
                </div>
                
            </div>
        </div>
    
        <div class="row d-flex align-items-center">
            
            <!-- Left -->
            <div class="col-12 col-md-6 col-lg-4"> 				
                
                <ul class="features-item">
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-display"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Expense Tracking Made Simple</h4>
                                <p>Effortlessly monitor your spending habits with CashSense. Log your expenses on-the-go and gain a crystal-clear understanding of where your money is going.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-cash-coin"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Smart Budgeting</h4>
                                <p>Create personalized budgets tailored to your lifestyle. Stay on top of your financial goals by setting limits and receiving real-time notifications to keep you on track.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-bar-chart"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Visualize Your Finances</h4>
                                <p>Our intuitive charts and graphs provide a visual representation of your financial journey. Analyze your spending patterns, identify trends, and make informed decisions for a brighter financial future.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
            
            <!-- Center -->
            <div class="col-12 col-lg-4 d-none d-lg-block"> 
                <div class="features-thumb text-center">
                    <img src="{{ url_for('static', filename='images/features/cashapp-mobile.jpg') }}" alt="" />
                </div>
            </div>
            
            <!-- Right -->
            <div class="col-12 col-md-6 col-lg-4"> 
                
                <ul class="features-item">
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-shield-check"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Secure and Private</h4>
                                <p>Rest easy knowing your financial data is secure. CashSense employs robust encryption and privacy measures to ensure your information is for your eyes only.</p>
                            </div>
                            
                        </div>
                    </li>
                    
   
                    <li> 
                        <div class="feature-box d-flex">
                            <div class="box-icon">
                                <div class="icon icon bi bi-bullseye"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Goal Tracking</h4>
                                <p>Set savings or debt repayment goals within CashSense and track your progress over time.</p>
                            </div>
                            
                        </div>
                    </li>
                    <li> 
                        <div class="feature-box d-flex">
                            <div class="box-icon">
                                <div class="icon bi bi-graph-arrow-up"></div>
                            </div>
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>Financial Goal Forecasting</h4>
                                <p>Forecast future financial scenarios based on current spending habits and income. CashSense can help you plan for upcoming expenses or anticipate changes in your financial situation.</p>
                            </div>                            
                        </div>
                    </li>
                    
                </ul>
            </div>
            
        </div>
    </div>
</section>