<section id="features">
			
    <!-- Container -->
    <div class="container">
        
        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                
                <div class="section-title text-center">
                    <h3>Awesome Features</h3>
                    <p>Cool app features</p>
                </div>
                
            </div>
        </div>
    
        <div class="row d-flex align-items-center">
            
            <!-- Left -->
            <div class="col-12 col-md-6 col-lg-4"> 				
                
                <ul class="features-item">
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-box"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-box"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App Feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-box"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
            
            <!-- Center -->
            <div class="col-12 col-lg-4 d-none d-lg-block"> 
                <div class="features-thumb text-center">
                    <img src="https://placehold.co/600x400" alt="" />
                </div>
            </div>
            
            <!-- Right -->
            <div class="col-12 col-md-6 col-lg-4"> 
                
                <ul class="features-item">
                    
                    <!-- Feature box -->
                    <li> 
                        <div class="feature-box d-flex"> 
                            
                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon bi bi-box"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    
   
                    <li> 
                        <div class="feature-box d-flex">
                            <div class="box-icon">
                                <div class="icon icon bi bi-box"></div>
                            </div>
                            
                            <!-- Box Text -->
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    <li> 
                        <div class="feature-box d-flex">
                            <div class="box-icon">
                                <div class="icon bi bi-box"></div>
                            </div>
                            <div class="box-text align-self-center align-self-md-start">
                                <h4>App feature</h4>
                                <p>Semper a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus velna culpa expedita.</p>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
            
        </div>
    </div>
</section>