<section id="overview" class="bg-grey">
    <!-- Container -->
    <div class="container">
        <div class="row">
            
            <!-- Content -->
            <div class="col-12 col-lg-4 res-margin">
                    
                <!-- Section title -->
                <div class="section-title text-center text-lg-start">
                    <h3>Checklist</h3>
                </div>
                <!-- List -->
                <ul class="overview-list">
                    <li>
                        <p><i class="fa-li bi bi-check-circle-fill pe-3"></i>Sign Up: Download CashSense and sign up in seconds to kickstart your journey towards financial freedom.</p>
                        <p><i class="fa-li bi bi-check-circle-fill pe-3"></i>Set Your Budgets: Customize budgets based on your income, expenses, and financial goals to stay on track.</p>
                        <p><i class="fa-li bi bi-check-circle-fill pe-3"></i>Add Expenses: Log your daily expenses effortlessly and watch as CashSense organizes them for you.</p>
                        <p><i class="fa-li bi bi-check-circle-fill pe-3"></i>Monitor Real-time Insights: Stay informed about your spending habits with instant insights provided through easy-to-understand visuals.</p>

                    </li>
                </ul>
                <!-- Button -->
                <p class="text-center text-lg-start">
                    <a href="#" class="btn">Learn More</a>
                </p>
            </div>
            
            <!-- Image -->
            <div class="col-12 col-lg-6 offset-lg-1 text-sm-center">
                <img src="{{ url_for('static', filename='images/screenshots/budget.jpg') }}" alt="" />
            </div>
            
        </div>
        
    </div>
    
</section>