<section id="team">
			
    <!-- Container -->
    <div class="container">
        
        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                
                <div class="section-title text-center">
                    <h3>The Team</h3>
                    <p>The dream team that set the difference</p>
                </div>
                
            </div>
        </div>
    
        <div class="row justify-content-center">
            
            <!-- Member 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="team-member res-margin">
                    <div class="team-image">
                        <img src="{{ url_for('static', filename='images/team/abdul.jpg') }}" alt="" />
                        <div class="team-social">
                            <div class="team-social-inner">
                                <a href="https://twitter.com/abdmajai"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/abdulmajeedai"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/amajai"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-details">
                        <h5 class="title"><a href="worker.html">Abdulmajeed Isa</a></h5>
                        <span class="position">Frontend Developer</span>
                    </div>
                </div>
            </div>
            
            <!-- Member 2 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="team-member res-margin">
                    <div class="team-image">
                        <img src="{{ url_for('static', filename='images/team/chris.jpg') }}" alt="" />
                        <div class="team-social">
                            <div class="team-social-inner">
                                <a href="https://twitter.com/azibachristian"><i class="bi bi-twitter"></i></a>
                                <a href="https://linkedin.com/in/christianaziba"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/zibxto"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-details">
                        <h5 class="title"><a href="worker.html">Christian Aziba</a></h5>
                        <span class="position">Backend Developer</span>
                    </div>
                </div>
            </div>						
        </div>
    </div>
    
</section>