<section id="parallax-video" class="parallax" data-image="{{ url_for('static', filename='images/parallax/video.jpg') }}">
    <div class="overlay"></div>					
    <div class="container">
        <div class="row">
            <div class="video-btn wow fadeInUp" data-wow-offset="10" data-wow-duration="1s" data-wow-delay="0s">						
                <a href="https://www.youtube.com/embed/hs1HoLs4SD0" data-rel="lightcase" class="play-btn">
                    <i class="icon bi bi-play"></i>
                </a>
                <span class="video-text">Watch This Video</span>
            </div>
        </div>
    </div>
</section>